# Lecture 16 – Table Fundamentals

## Data 94, Spring 2021

In [ ]:
from datascience import *
import numpy as np

In [ ]:
schools = Table.read_table('data/cal_unis.csv')

In [ ]:
schools

In [ ]:
schools.num_rows

In [ ]:
schools.num_columns

In [ ]:
# A subset of schools just for illustration purposes
some_schools = schools.take(np.arange(5))

In [ ]:
some_schools

In [ ]:
some_schools.column('City')

In [ ]:
some_schools.column(2)

### Quick Check 1

In [ ]:
countries = Table.read_table('data/us-state-capitals.csv')

In [ ]:
countries

In [ ]:
# countries.column(___)

## `select` and `drop`

In [ ]:
some_schools

In [ ]:
some_schools.select('Name', 'Enrollment')

In [ ]:
some_schools.drop('Founded', 'County')

In [ ]:
some_schools

## `with_columns`

### Adding columns

In [ ]:
some_schools

In [ ]:
some_schools.with_columns(
    'Nickname', np.array(['Cal', 'UCD', 'UCI', 'UCLA', 'UCM'])
)

In [ ]:
some_schools.with_columns(
    'Nickname', np.array(['Cal', 'UCD', 'UCI', 'UCLA', 'UCM']),
    'Years Old', 2021 - some_schools.column('Founded')
)

### Creating tables from scratch

In [ ]:
Table()

In [ ]:
states = Table().with_columns(
    'State', np.array(['California', 'New York', 'Florida', 'Texas', 'Pennsylvania']),
    'Code', np.array(['CA', 'NY', 'FL', 'TX', 'PA']),
    'Population', np.array([39.3, 19.3, 21.7, 29.3, 12.8])
)

In [ ]:
states

### Quick Check 2

In [ ]:
states

In [ ]:
states._____('Population').with_columns(
    ____, ____
)

## Additional methods

### `show`

In [ ]:
schools.show(3)

In [ ]:
schools.show()

### `labels`

In [ ]:
schools.show(5)

In [ ]:
# The result is a "tuple" – think of it as a basic list
schools.labels

In [ ]:
schools.relabeled('Name', 'University').show(5)

## Example: WNBA data

In [ ]:
wnba = Table.read_table('data/wnba-2020.csv')

In [ ]:
wnba

In [ ]:
wnba.num_rows, wnba.num_columns

In [ ]:
wnba_pts = wnba.select('Player', 'Tm', 'Pos', 'G', 'PTS')

In [ ]:
wnba_pts

In [ ]:
# Computes number of points scored per game
wnba_pts.column('PTS') / wnba_pts.column('G')

In [ ]:
wnba_pts = wnba_pts.with_columns(
    'PPG', wnba_pts.column('PTS') / wnba_pts.column('G')
)

In [ ]:
wnba_pts