# Lecture 8 – Lists and Strings

## Data 94, Spring 2021

## Lists

We use square brackets to create lists.

In [ ]:
years = [1998, 2001, 2007]
years

In [ ]:
schools = ['cal', 1868, 'cal poly', 1901, 'columbia', 1754]
schools

In [ ]:
nums = [2 + 2, 5, 5 - 1]
nums

### Types and comparisons

In [ ]:
type([3, 1, 2])

In [ ]:
type([])

In [ ]:
[3, 1, 2] == [3, 1, 2]

In [ ]:
[3, 1, 2] == [3, 1, 2, -4]

### Working with lists

In [ ]:
len([9, 2.5, 7])

In [ ]:
max([9, 2.5, 7])

In [ ]:
# Earliest in dictionary
min(['hello', 'hi', 'abbey'])

In [ ]:
# TypeError!
min(['hello', 2.5, 'abbey'])

In [ ]:
sum([9, 2.5, 7])

In [ ]:
[1, 2] + [3, 4] * 2

### Append

In [ ]:
groceries = ['eggs', 'milk']
groceries

In [ ]:
groceries.append('bread')

In [ ]:
groceries

### Containment

In [ ]:
3 in [3, 1, 'dog']

In [ ]:
10 not in [3, 1, 'dog']

In [ ]:
not 10 in [3, 1, 'dog']

In [ ]:
[3, 1] in [3, 1, 'dog']

### Quick Check 1

## Indexing

In [ ]:
nums = [3, 1, 'dog', -9.5, 'berk']

In [ ]:
nums[0]

In [ ]:
nums[3]

In [ ]:
nums[5]

### Slicing

In [ ]:
nums = [3, 1, 'dog', -9.5, 'berk']

In [ ]:
nums[1:3]

In [ ]:
nums[0:4]

In [ ]:
# If you don't include 'start',
# the slice starts at the
# beginning of the list
nums[:4]

In [ ]:
# If you don't include 'stop',
# the slice goes until the
# end of the list
nums[2:]

### Negative indexing

In [ ]:
nums = [3, 1, 'dog', -9.5, 'berk']

In [ ]:
nums[len(nums) - 1]

In [ ]:
nums[-1]

In [ ]:
nums[-3]

In [ ]:
nums[-3:]

### Quick Check 2

### Example: While loops with lists

In [ ]:
def square_all(vals):
    output = []
    i = 0
    while i < len(vals):
        val_squared = vals[i] ** 2
        output.append(val_squared)
        i += 1
    return output

In [ ]:
square_all([1, 10, 3, 4])

### .index

`.index` tells us the position of an element in a list – if it is in the list.

In [ ]:
[9, 8, 14, -1].index(14)

In [ ]:
[9, 8, 14, -1].index(15)

In [ ]:
# Two occurrences of 2
# Gives index of first one
[1, 2, 4, 2, 4].index(2)

In [ ]:
[1, 2, 4, 2, 4].count(2)

### Example: next day of the week

In [ ]:
def next_day(day):
    week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    curr = week.index(day)
    return week[(curr + 1) % 7]

In [ ]:
next_day('Wednesday')

In [ ]:
next_day('Saturday')

## Strings

In [ ]:
university = 'uc berkeley'

In [ ]:
list(university)

In [ ]:
university[3:7]

In [ ]:
university[1]

In [ ]:
university[-8:]

In [ ]:
# Weird slicing that can be used
# to reverse a string or list
university[::-1]

### Finding characters

In [ ]:
'alfalfa'.find('f')

In [ ]:
'alfalfa'.rfind('a')

In [ ]:
'alfalfa'.find('b')

In [ ]:
'alfalfa'.index('b')

### Differences between strings and lists

In [ ]:
test_list = [8, 0, 2, 4]
test_string = 'zebra'

In [ ]:
test_list[1] = 99

In [ ]:
test_list

In [ ]:
test_string[1] = 'f'

In [ ]:
test_string[:1] + 'f' + test_string[2:]

## Demo

Let's use data about survivors of the Titanic, downloaded from [here](https://www.kaggle.com/c/titanic/data?select=train.csv).

In [ ]:
from datascience import *
table = Table.read_table('data/titanic.csv').select(['Name', 'Age', 'Sex', 'Fare', 'Survived'])
table

Soon, we will learn how to load in data like the above and extract columns as lists. But for now, just run the following cell.

In [ ]:
names = list(table.column('Name'))
ages = list(table.column('Age'))
survived = list(table.column('Survived'))

In [ ]:
ages[:5]

In [ ]:
names[:5]

In [ ]:
100 * sum(survived) / len(survived)