# Lecture 3 â€“ Variables and Types
## Data 94, Spring 2021

## Functions

In [ ]:
# Evaluates to 3
max(2, 3)

In [ ]:
# Evaluates to 4
max(4, min(1, 9))

In [ ]:
# Evaluates to -5
-abs(max(4, 5, -1))

In [ ]:
# After you run this cell, notice the lack of Out[N]: below
print(5)

In [ ]:
# After you run this cell, notice the Out[N]
5

### Quick Check 1

In [ ]:
max

## Variables

In [ ]:
x = 3

In [ ]:
x

In [ ]:
3 = x

In [ ]:
complicated = 3 + 4**(min(1, 2, abs(14*18**2)))

In [ ]:
complicated

In [ ]:
three = 3
four = 4
three

In [ ]:
three = three + four
four = four + 5

In [ ]:
three

In [ ]:
four

In [ ]:
turtle + 5

### Quick Check 2

## Types

In [ ]:
x = -2 + 3
type(x)

In [ ]:
y = 15 - 14.0 / 2
type(y)

In [ ]:
name = 'junior rampure'
type(name)

In [ ]:
len('junior rampure')

In [ ]:
empty = ""
len(empty)

In [ ]:
'go ' + ' bears' + '!!!'

In [ ]:
name_1 = 'Carol'
name_2 = 'Jean'
print('Hi ' + name_1 + ', my name is ' \
      + name_2 + '. How are you doing today?')

In [ ]:
# Notice how there are quotes in the output, but not above!
'Hi ' + name_1 + ', my name is ' \
      + name_2 + '. How are you doing today?'

### Typecasting

In [ ]:
# If a float is passed: cuts off decimal
int(3.92)

In [ ]:
int(-2.99)

In [ ]:
int("-5")

In [ ]:
# If a string is passed, it must contain an int
int("4.1")

In [ ]:
float(3)

In [ ]:
float("3.14159265")

In [ ]:
float(-19.0)

In [ ]:
float(-14.0 + "3.0")

In [ ]:
str(13 + 14 + 15/2)

In [ ]:
str("1")

### Quick Check 3

## Demo

You should ignore most of this code.

In [ ]:
from datascience import *
import numpy as np

data = Table.read_table('data/countries.csv')
data = data.relabeled('Country(or dependent territory)', 'Country') \
           .relabeled('% of world', '%') \
           .relabeled('Source(official or UN)', 'Source')
data = data.with_columns(
    'Country', data.apply(lambda s: s[:s.index('[')] if '[' in s else s, 'Country'),
    'Population', data.apply(lambda i: int(i.replace(',', '')), 'Population'),
    '%', data.apply(lambda f: float(f.replace('%', '')), '%')
)

I've loaded in a table of information from [Wikipedia](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population), containing the population of each country both in absolute terms (`"Population"`) and as a proportion of the total global population (`"%"`).

In [ ]:
data

Unsurprisingly, values in the `"Country"` column are stored as strings.

In [ ]:
data.column('Country').take(5)

In [ ]:
# numpy.str_ is a fancy version of a string; for our purposes they are the same
type(data.column('Country').take(5))

In [ ]:
print(data.column('Country').take(5))

Values in the `"Population"` column are stored as integers.

In [ ]:
data.column('Population').take(5)

In [ ]:
# Again, numpy.int64 is a fancy version of an integer
type(data.column('Population').take(5))

And values in the `"%"` column are stored as floats.

In [ ]:
data.column('%').take(5)

In [ ]:
type(data.column('%').take(5))

For fun, replace the variable `country` with one that you like and you'll see its population formatted nicely as a string.

In [ ]:
country = 'Venezuela'

# Notice the meaningful variable names!
# You don't know how the code works, but given the variable names you know what it's doing.
pop = data.where('Country', are.equal_to(country)).column('Population').take(0)
percent = data.where('Country', are.equal_to(country)).column('%').take(0)

# Why must we write `str(pop)` instead of just pop?
output = country + " has a population of " + str(pop) + ", which is " + str(percent) + "% of the world's total population."
print(output)

# Practice

Sometimes, we will include extra practice problems at the end for you to work on after class. These are not required or graded in any way, but they're highly recommended.

To see the solution for a given problem, you can click the triangle next to "Answer".

### Question 1

WITHOUT running any code, what does the following expression evaluate to?

```py
max(min(14, 15), abs(16 - min(17, max(-5, 15), -9)))
```

You should write out your thought process on paper.

<details>
    <summary>Answer</summary>
    25
</details>

### Question 2
Recall, the Pythagorean theorem is $$c^2 = a^2 + b^2$$

Using the Pythagorean therem, set the variable `q2` equal to the length of the longest side of a right-angled triangle whose other side-lengths are `side_1` and `side_2`. Your code should not use the numbers 8 or 13 directly, but it should instead use the variables `side_1` and `side_2`.

_Hint: `x**0.5` computes the square root of `x`._

In [ ]:
side_1 = 8
side_2 = 13

q2 = ... # YOUR CODE HERE

<details>
    <summary>Answer</summary>
    <code>q2 = (side_1**2 + side_2**2)**0.5</code>
</details>

## Question 3

Assign the variable `q3` to a string that reads `'Lisa Jobs is 45 years old and lives in Canada.'`

You **MUST** use the four variables defined below to create the string. This is similar to the example on slide 50 of the lecture.

_Hint: You will need to cast the variable `age` to an integer so that you can change it from 42 to 45._

In [ ]:
first_name = 'Lisa'
last_name = 'Jobs'
age = "42"
location = 'Canada'

q3 = ... # YOUR CODE HERE

<details>
    <summary>Answer</summary>
    <code>q3 = first_name + ' ' + last_name + ' is ' + str(int(age) + 3) + ' years old and lives in ' + location + '.'</code>
</details>